<div class="container my-2">
  <div class="row">
    <div class="offset-1">
    <%= flash[:notice] %>
      <h2 class="red-border px-3 bg-light">注文情報入力</h2>
    </div>
  </div>

  <div class="row">
    <div class="offset-2 col-5">
    <!-- 支払い方法選択 -->
      <div class="row">
      <%= form_with model: @order, url:orders_confirm_path, method: :post, local: true do |f| %>
        <strong class="col-12  text-left">支払方法</strong>
        <div class="col-10 offset-2 radio text-left">
          <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
          <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
        </div>
        <div class="col-10 offset-2 radio text-left">
          <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
          <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
        </div>

        <!--届け先方法-->
        <strong class="col-12  text-left py-2">お届け先</strong>
        <div class="col-10 offset-2 text-left">
          <%= f.radio_button :select_address, 1 %>
          <%= f.label :select_address, "ご自身の住所" %><br>
          <%= @address %><br>


          <%# if current_customer.deliveries != nil %>
            <%#= f.radio_button :select_address, 2 %>
            <%#= f.label :select_address, "登録済み住所から選択" %>
            <%#= f.select :delivery_id, options_from_collection_for_select(current_customer.deliveries, :id, :address) %>
          <%# else %>
            <!--<p>登録先の住所がございません</p>-->
          <%# end %>

          <%# if !current_customer.deliveries %>
            <%#= f.radio_button :select_address, 2 %>
            <%#= f.label :select_address, "登録済み住所から選択" %>
            <%#= f.select :delivery_id, options_from_collection_for_select(current_customer.deliveries, :id, :address) %>
          <%# end %>
          <div class="py-3">
            <%= f.radio_button :select_address, 2 %>
            <%= f.label :select_address, "登録済み住所から選択" %><br>
            <%= f.select :delivery_id, options_from_collection_for_select(current_customer.deliveries, :id, :address) %>
          </div>

          <%= f.radio_button :select_address, 3 %>

          <%= f.label :select_address, "新しいお届け先" %><br>
            <%= f.label :delivery_zip, "郵便番号" %><%= f.text_field :delivery_zip, :placeholder => "0000000", class: 'mx-3 form-control delivery_zip', :size=>"30" %>
            <%= f.label :delivery_address, "住所" %><%= f.text_field :delivery_address, :placeholder => "東京都渋谷〇〇", class: 'mx-3 form-control delivery_address', :size=>"50" %>
            <%= f.label :delivery_name, "宛名" %><%= f.text_field :delivery_name, :placeholder => "令和 道子", class: 'mx-3 form-control delivery_name', :size=>"30" %>
          <%= f.submit '確認画面へ進む', class: 'btn btn-primary my-3' %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>